<h2>Welcome to Routing and Navigation</h2>

<nav>
  <a routerLink="/department" routerLinkActive="active">Department</a> <br>
  <a routerLink="/employees" routerLinkActive="active">Employees</a> <br>
  <a routerLink="/test" routerLinkActive="active">Test Module</a> <br>
  <a routerLink="/lazy-test" routerLinkActive="active">Lazy Loading Test</a><br>
  <a routerLink="/lazy-test2" routerLinkActive="active">Lazy Loading second test</a><br>
  <a routerLink="/lazycomp" routerLinkActive="active">Lazy Comp</a>
</nav>

<router-outlet></router-outlet>
<!--Routing view goes here-->
